body {
    background-color: #dbd9d9;
}

.list-item::before, #skills h3::after, #my-name::after {
    content: "...";
    font-size: 35px;
    color: gold;
    display: block;
    text-align: center;
    letter-spacing: 10px;
}